.content{
    padding: 10px;
    overflow: hidden;
    /*height:170px;*/
}
.team-item a{
   /*  color: white !important; */
    text-decoration: none!important;
}
.content h2{
    margin-top:10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cacaca;
}
.content h2 a{
    font-family: 'open_sansbold';
    font-size: 20px;
    color: #1a75bc;
}
.team-item{
    margin-bottom: 2px;
	/* height:402px; */
}
.img{
    text-align: center;
}
/*------------------
    Team Detail Page
-------------------*/

.team-detail-page{
    margin-bottom: 10px;
}
.team-detail-headercolor{
    color: #1a75bc;
    font-family: 'open_sanslight';
    font-size: 40px;
}
.team-detail-sociallink{
    margin-top: 10px;
    margin-bottom: 10px;
}